
<h2>El usuario que consultaste es</h2>

<form>


</form>

<h2>{{title}}</h2>

<p>Nombre: {{name}} <br> Correo: {{mail}}</p>


     <p>Nombre: {{usuario.nombre}}.<br/> Correo:{{usuario.correo}}.</p>

